.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.theme-toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 30px;
  padding: 4px;
}

.theme-toggle-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 4px;
}

.theme-icon {
  font-size: 14px;
  line-height: 1;
}

.theme-toggle-label:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.theme-toggle:checked + .theme-toggle-label {
  background-color: var(--primary-color);
}

.theme-toggle:checked + .theme-toggle-label:before {
  transform: translateX(30px);
} 